:root {
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --primary-color: rgba(255, 0, 86);
    --text-color: #0a0a0a;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
}

@function getAnimationDuration($duration: number) {
    @return calc($duration * var(--animation-speed));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-size: var(--font-size);
    font-family: "Roboto", sans-serif;
    padding-top: 55px;
    background-color: var(--background-light);
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
}

.btn {
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75em 1em;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0 2px 6px var(--shadow-color);

    &:hover {
        box-shadow: 0 1px 3px var(--shadow-color);
    }
}

.custom-image {
    background-color: rgb(239, 86, 126);
    height: 0;
    width: 100%;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.reg {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 6px;
    border: 1px solid black;
    box-shadow: var(--shadow-color);
}

.title {
    font-size: 25px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: rgb(255, 44, 82);
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box {
    width: calc(100% / 2 - 20px);
    margin: 20px 0 12px 0;
}

.detail {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 15px;
    border-bottom-width: 2px;
}

.input-box input:focus,
.input-box input:valid {
    border-color: rgb(238, 36, 117);
}

.gender .gen {
    font-size: 20px;
    font-weight: 500;
}

.btnn input {
    width: 600px;
    padding: 7px;
    border-color: rgb(246, 58, 58);
    background: rgb(233, 39, 100);
    border-radius: 15px;
    margin: 20px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.btnn input:hover {
    background: #3f97c0;
    cursor: pointer;
    transition: all 1s;
    color: aqua;
}

@import "Partial/navbar.scss";

.section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3vw;

    &.d-block {
        display: block;
    }

    .title {
        color: var(--text-color);
        font-size: 1.7em;
        margin-bottom: 0.25em;
        font-weight: 900;
    }

    .info {
        color: var(--text-color);
        font-size: 1em;
        letter-spacing: 1px;
        line-height: 1.3;
        margin-bottom: 1.25em;
    }

    .col {
        width: 50%;
    }
}

@import "Partial/hero-section.scss";
@import "partial/improveSection.scss";
@import "partial/QuoteSection.scss";
@import "partial/ChiefSection.scss";
@import "partial/footer.scss";
@import "partial/preivousSerches.scss";

.options-container {
    box-shadow: 0 5px 10px var(--shadow-color);
    padding: 1em;
    border-radius: 1em;
    border-left: 0.5em solid var(--primary-color);
    background-color: var(--background-light);
    margin-top: 1em;
    display: flex;
    gap: 1em;

    .option {
        height: 3.5em;
        width: 3.5em;
        box-shadow: 0 3px 6px var(--shadow-color);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.light {
            background-color: #fff;
        }

        &.dark {
            background-color: rgb(29, 29, 29);
        }

        .check {
            height: 1.5em;
            width: 1.5em;
            background-color: var(--primary-color);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 2px 5px var(--shadow-color);

            svg {
                height: 1.5em;
                width: 1.5em;
            }
        }
    }

    .btn span {
        display: inline-block;
        margin-left: 0.3em;
    }
}

.d-block h2 {
    font-size: 1.75em;
    color: var(--text-color);
}

@import "partial/rescipesSection";

.main {
    padding-block: 3vw;
    margin-top: 3.5em;
}

.container {
    padding-inline: 25vw;
}

@import "Partial/animation.scss";
// @media screen and (max-width:1550px) {
//     .container{
//        padding-inline: 5vw;
//        background-color:var(--background-light);
//        color: black;

//     }
//     .navbar{
//         background-color: var(--background-color);
//     }
// }
@media screen and (max-width: 1280px) {
    .container {
        padding-inline: 18vw;
    }
}

@media screen and (max-width: 1050px) {
    .container {
        padding-inline: 12vw;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        .nav_link {
            display: none;
        }

        .sidebar_btn {
            display: block;
        }
    }

    .section {
        .col {
            width: 100%;
            padding: 0 !important;
            text-align: center;
            margin-bottom: 2em;
        }
    }

    .skill-item {
        display: inline-block;
        margin: 0.75em;
    }

    .section.improve-skills {
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .chief-card {
        box-shadow: 0 5px 10px var(--shadow-color);
    }

    .container {
        padding-inline: 6vw;
    }

    .footer {
        grid-template-columns: repeat(4, 1fr);
        padding: 6vw;

        .footer-section:nth-child(1) {
            grid-column: span 4;
        }

        .footer-section:nth-child(2),
        .footer-section:nth-child(3) {
            grid-column: span 3;
        }
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding-inline: 3vw;
    }

    .section .title {
        margin-top: 1.5em;
    }
}
